%ul#navalbumsindex
  - @albums.each do |album|
    %li
      #albumindeximage
        = image_tag album.photos.sample.uploaded_image.thumb
      #albumindextext
        %h1= link_to(album.name, album_path(album))
        %h4= "By"
        %h3= link_to(album.user.name, user_path(album.user))

