/ %h1 Listing albums

/ %table
/   %tr
/     %th Name
/     %th Description
/     %th User
/     %th
/     %th
/     %th

- @albums.each do |album|
  %h1= album.name
  %h4= "By"
  %h3= album.user.name
  #albumimage
    = image_tag album.photos.sample.uploaded_image
    / %td= album.description
    / %td= link_to 'Show', album
    / %td= link_to 'Edit', edit_album_path(album)
    / %td= link_to 'Destroy', album, :method => :delete, :data => :confirm'Areyousure?' }
  %br/
  / = link_to 'New Album', new_album_path
