- current_user.subscribed_to.each do |s|
  - s.albums.each do |album|
    .albumstile.imagetext
      = link_to album do
        = image_tag album.photos.sample.uploaded_image.thumb
      %h6
        %span
          = album.name
          %br
          = album.user.name


