// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo-show{
  display: inline-block;
  width: 80%;
}

.votes{
  display: inline-block;
  width: 10%;
  height: 50px;
}
