// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h6 { 
   position: absolute; 
   top: 20px; 
   left: 0;
   text-align: center;
   width: 100%;
}

h6 span { 
   width: 100%;
   font-weight: 100;
}