// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .view img { 
//     transform: scaleY(1);
//     transition: all 0.7s ease-in-out;
// }
// .view .mask { 
//     background-color: rgba(255, 231, 179, 0.3); 
//     transition: all 0.5s linear;
//     opacity: 0;
// }   
// .view h2{
//     border-bottom: 1px solid rgba(0, 0, 0, 0.3);
//     background: transparent;
//     margin: 20px 40px 0px 40px;
//     transform: scale(0);
//     color: #333;
//     transition: all 0.5s linear;
//     opacity: 0;
// }
// .view p {
//     color: #333;
//     opacity: 0;
//     transform: scale(0);
//     transition: all 0.5s linear;
// }
// // .view-tenth a.info { 
// //     opacity: 0;
// //     transform: scale(0);
// //     transition: all 0.5s linear;
// // }                                           

// .view:hover img { 
//     transform: scale(10);
//     opacity: 0;
// }
// .view:hover .mask { 
//     opacity: 1;
// }                                                                            
// .view:hover h2,
// .view:hover p{ 
//     transform: scale(1);
//     opacity: 1;
// }
// .overlay {
//     background:rgba(0,0,0,.75);
//  text-align:center;
//  padding:45px 0 66px 0;
//  opacity:0;
//  -webkit-transition: opacity .25s ease;
//  -moz-transition: opacity .25s ease;}

// .view:hover .overlay {
//      opacity:1;}

// .name{  font-family:Helvetica;
//          font-weight:900;
//          color:rgba(255,255,255,.85);
//          font-size:96px;}

.imagetext { 
   position: relative; 
   width: 100%;
}


h6 { 
   position: absolute; 
   top: 20px; 
   left: 0; 
   width: 100%; 
   font-weight: 200;
}

h6 span { 
   width: 100%;
   color: white; 
   font: 24px/45px Helvetica, Sans-Serif; 
   font-weight: 100;
   letter-spacing: -1px;  
   // background: rgb(0, 0, 0); fallback color
   background: rgba(0, 0, 0, 0.7);
   padding: 9px; 
}