body{
	margin: 0;
}


header{
	background: black;
	color: white;
	height: 70px;
	margin: 0px;
	padding: 3px;
	margin-bottom: 50px;
}


img {
  width: 800px;
}

.icon{
	width: 120px;
	float: left;
}

header h1{
	float: left;
	margin-left: 1%
}

article{
	margin-left: 3%;
	margin-right: 3%;
}

.search {
	padding:8px 15px;
	background:rgba(50, 50, 50, 0.2);
	border:0px solid #dbdbdb;
}

.headerlink{
	color: white
}

.categorybox{
	width: 10%;
	float: left;
	background-color: black;
	color: white;
	margin: 5px;
	padding: 5px;
	border-radius: 10px;
}

a.categorybox{
	color: white
}

.compass{
	width: 20%;
	float: right;
	margin-right: 2% 
}

.user_info{
	width: 47%;
	float: right;
	margin-right: 3%
}

.searchbox{
	height: 25px;
	width: 250px;
	float: left;
	background: rgba(0,0,0,0);
	margin: none;
	font-size: 20px;
	color: white;
	margin-top: 4px;
	display: none;
	border: 0px;
}

button{
	float: left;
	background-color: rgba(0,0,0,0);
	color: white;
	border: none;
	font-size: 20px;
	margin-top: 10px;
}

.nav{
	float: left;
	margin: 5px;
	color: white;
	background-color: black;
	text-decoration: none;
	font-size: 15px;
	margin-top: 1.2%
}

.navr{
	float: right;
	margin: 5px;
	color: white;
	background-color: black;
	text-decoration: none;
	font-size: 15px;
	margin-top: 1.2%
}

.lupe{
	width: 30px
}

a{
	color: white;
}

.boxI{
	float: left;
	width: 31.3%;
	height: auto;
}


.boxI img{
	width: 100%;
	-webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
}

.boxI img:hover{
	filter: grayscale(30%);
	-webkit-filter: grayscale(30%);
	-moz-filter: grayscale(30%);
	filter: grayscale(30%);
	filter: gray;
	-webkit-filter: grayscale(1);
}

.userimage{
	width: 35%;
	float: left;
	border-radius: 100%;
	margin-left: 2%
}

.navr img{
	width: 70px;
	margin-top: -20px;
}

