body{
	margin: 0;
}


header{
	background: black;
	color: white;
	min-height: 70px;
	margin: 0px;
	padding: 3px;
	display: fixed
}


img {
  width: 800px;
}

.more{
	display: none
}

.icon{
	width: 150px;
	float: left;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 0.5s ease;
}

.icon:hover{
	width: 190px;
	margin-right: -30px;
	margin-top: -15px;
	margin-left: -10px
}

header h1{
	float: left;
	margin-left: 1%;
	font-weight: 100;
	line-height: 140%;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

header h1:hover{
	color: white
}

article{
	margin-top: 6%;
}

.search {
	padding:8px 15px;
	background:rgba(50, 50, 50, 0.2);
	border:0px solid #dbdbdb;
}

.headerlink{
	color: white
}

.categorybox{
	width: 10%;
	float: left;
	background-color: black;
	color: white;
	margin: 5px;
	padding: 5px;
	border-radius: 10px;
}

a.categorybox{
	color: white
}

.compass{
	width: 20%;
	float: right;
	margin-right: 2% 
}

.user_info{
	width: 47%;
	float: right;
	margin-right: 3%
}

.searchbox{
		float: left;
		background: rgba(0,0,0,0);
		margin: none;
		font-size: 40px;
		color: white;
		margin-top: 4px;
		display: none;
		border: 0px;
		height: 55px;
		width: 500px;
		font-weight: 100
}

@media (min-width: 900px){
	
	.buttonsmall{
		visibility: hidden;
	}
	header h1{
		display: inherit;
		color: red;
	}
}

button{
	float: left;
	background-color: rgba(0,0,0,0);
	color: white;
	border: none;
	font-size: 20px;
	margin-top: 10px;
}

.nav{
	float: left;
	margin: 5px;
	color: white;
	text-decoration: none;
	font-size: 25px;
	font-weight: 100;
	line-height: 3.5;
}

.navr{
	float: right;
	color: white;
	background-color: black;
	text-decoration: none;
	font-size: 20px;
	line-height: 1;
	font-weight: 100;
	margin: 1%
}

.lupe{
	width: 30px;
	margin-top: 100%
}

.titlephoto{
	margin-left: 5%;
	margin-bottom: 1.5%;
	font-size: 40px;
}

a{
	color: white;
}

.boxI{
	float: left;
	width: 25%;
	height: auto;
}

.boxII{
	width: 100%;
	height: auto;
}

.boxI img{
	width: 100%;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.boxI img:hover{
	filter: grayscale(30%);
	-webkit-filter: grayscale(30%);
	-moz-filter: grayscale(30%);
	filter: grayscale(30%);
	filter: gray;
	-webkit-filter: grayscale(.5);

}

.userimage{
	width: 35%;
	float: left;
	border-radius: 100%;
	margin-left: 2%
}

ul h5 {
	background: black;
	color: white;
	width: 100%;
	float: none;
	padding: 0.5%;
}

ul p { 
	display:none;
}

ul img{
	width: 20%;
	float: none;
	margin-right: -0.7%;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

ul img:hover{
	filter: grayscale(30%);
	-webkit-filter: grayscale(30%);
	-moz-filter: grayscale(30%);
	filter: grayscale(30%);
	filter: gray;
	-webkit-filter: grayscale(.5);
}

ul li{
	list-style: none
}

a:hover{
	color: red;
}


a.twitter-share-button {
  display: inline-block;
  padding: 1px 3px 0 19px;
  border: #ccc solid 1px;
  border-radius: 3px;
  background: #f8f8f8 url(//platform.twitter.com/images/bird.png) 2px 3px no-repeat;
  background: url(//platform.twitter.com/images/bird.png) 2px 3px no-repeat,
              -webkit-linear-gradient(#fff, #dedede);
  background: url(//platform.twitter.com/images/bird.png) 2px 3px no-repeat,
              linear-gradient(#fff, #dedede);
  background-size: 16px 13px, auto auto;
 
  /* Text */
    font: bold 11px/17px Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  white-space: nowrap;
}


.photo-show{
  display: inline-block;
  width: 80%;
  height: auto;
  margin-left: 5%;
  float: left;
  margin-bottom: 2%
}

.socialbutton1{

}

.socialbutton2{
	float: left;
	width: 15%;
	text-align: center
}

.votes{
  display: inline-block;
  width: 10%;
  height: 50px;
}

.photoinfo{
	width: 40%;
	height: auto;
	margin-left: 5%;
}

.votes{
	float: right;
	width: 15%;
	text-align: center;
	height: 10%;
	padding: 2%;
}

.commentbox{
	width: 45%;
	margin-left: 5%;
	float: left;
}

.commentarea{
	float: left;
	width: 50%;
}

#username{
	width: 100%;
	border: solid black 2px;
	margin-bottom: 1%;
	padding: 0.5%
}

#comment{
	width: 100%;
	color: black;
	padding: 0.5%
}

.comment{
	float: right;
	width: 50%;
	padding: 3%
}

header > a:hover {
    color: red;
    text-decoration: none
}

header > .navr > a {
    color: white;
    text-decoration: none
}

header > .navr > a:hover {
    color: red;
    text-decoration: none
}

p a{
	color: black;
	text-decoration: none;
	font-size: 20px
}

p a:hover{
	color: red;
	text-decoration: none
}

.drawers li h5:hover{
	color: red
}

.albumsswitch{
	visibility: hidden
}

.imagesswitch{
	visibility: visible;
}

.footer{
	width: 100%;
	color: white;
	height: 90px;
	padding: 2%;
	
}

.footer p{
	font-size: 20px;
}


@media (max-width: 915px){
	.nav{
		font-size: 15px;
		line-height: 6.5
	}
	.navr{
		font-size: 15px;
		visibility: visible
	}
	.searchbox{
		width: 150px
	}
		header h1{
		display: none
	}
	.boxI{
		width: 100%
	}
	ul img{
		width: 100%
	}
	article{
		margin-right: 10%;
	}
}

@media (max-width: 650px){
	.icon{
		height: 80px;
		width: auto;
		margin-right: -15px;
		margin-left: -10px
	}
	.icon:hover{
		height: 80px;
		width: auto;
		margin-top: 0;
		margin-left: 0;
		margin-right: 0
	}
	.text_field{
		width: 100%
	}
	.navr{
		font-size: 10px
	}
	.user_info{
		float: none;
		width: 100%;
	}
	.userimage{
		float: none;
		width: 100%
	}
	.navr{
		display: none
	}
	.lupe{
		display: none
	}
	.more{
		display: inherit;
		float: left;
		margin: 5px;
		color: white;
		font-size: 20px;
		font-weight: 100;
		line-height: 3.5;
		font-weight: 100;
	}
	.more:hover{
		color: red
	}
	.nav{
		margin-right: 1px
	}
	.searchbox{
		width: 20px;
		height: 20px
	}
}

#navalbumsindex li{
	height: auto;
	margin-top: 5%;
	text-align: center;
	width: 50%;
	float: left;
}

#albumindeximage img{
	border-radius: 100%;
	width: 50%;
}

.albumshowcomment{
	width: 45%;
	margin-left: 3%;
	margin-top: 3%;
	height: auto;
}

.albumcomment{
	width: 50%;
	height: auto;
	border: solid black 2px
}

.albumusername{
	width: 10%
}

#albumshowpage{
	height: 300px;
}

.albumshowinfo{
	height: auto;
	margin-left: 3%
}

.comment{
	float: left;
	margin-left: 3%
}

.albumcomment{
	border: solid black 2px;
	width: 50%;
}

#map_page{
	width: 100%;
	height: auto;
	margin: 0 auto;
}

#map_text{
	text-align: center;
}

#map_canvas{
	margin-top: 2%;
	width: 100%;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
}

#searchbox{
	width: 50%;
	margin-left: 25%;
	margin-right: 25%
}