%h1.headline Categories

%br
- @categories.each do |c|
	%ul.drawers
		%li
			%h5 
				= c.name
			%p
				-c.photos.each do |photo|
					= link_to photo do
						=photo.title
							=image_tag photo.uploaded_image.thumb




