
= image_tag "compass.png", :class => "compass"
%h1 Locations
%h3 Discover images taken in your city!
- @locations.each do |location|
  %div.categorybox
    = link_to(location.city, location_path(location))  
    %br/

#map_canvas
%br/

= link_to 'New Location', new_location_path

