
= image_tag "compass.png", :class => "compass"
%h3 Discover images taken in your city!


#map_canvas

%input#hometown{type: "hidden", value: "#{current_user.hometown}"}
%br/

= link_to 'New Location', new_location_path