#map_page
  #map_text  
    %h1 Explore...
    %h3 Discover images all over the world
  %input#searchbox.form-control{:placeholder => "Search", :type => "text"}
  #map_canvas

%input#places{type: "hidden", value: "#{@photos.to_json}"}
%input#imagesfromlocation{type: "hidden", value: "#{@images.to_json}"}
%input#hometown{type: "hidden", value: "#{current_user.hometown.to_json}"}
%br/
 